{% extends "index.html" %}
{% block data %}

<div class="card shadow col-md-6 mx-auto">
    <div class="card-header bg-success text-white">
        <h4>Add New Task</h4>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                        Back
                    </a>

                    <button type="submit" class="btn btn-success px-4">
                        Save Task
                    </button>
                </div>
        </form>
    </div>
</div>

{% endblock %}